.DS_Store
__pycache__
data_base/csv/*
!data_base/csv/.gitkeep
data_base/data/*
!data_base/data/.gitkeep
data_base/mongodb/*
!data_base/mongodb/.gitkeep
misc/logs/*
!misc/logs/.gitkeep
misc/tmp/*
agents/*
!agents/sample.json
mongo_workers/*
!mongo_workers/.gitkeep
!mongo_workers/sample.json
notebooks/*
!notebooks/.gitkeep
.vscode
